h2 {
  margin-left: 30px; }

.btn {
  background: #1b3450;
  color: #fcfaf7; }

.btn-primary, .btn-primary:focus {
  background: #91c757; }

#main {
  background: #f4fafb;
  height: 100%; }
  #main #header {
    background: #1f180a; }
    #main #header h1 {
      color: #f4fafb; }
    #main #header ul > li > a {
      background: #1b3450;
      color: #fcfaf7; }
    #main #header ul > li.active > a {
      background: #f4fafb;
      color: #100a1f; }
  #main #finder-results p {
    text-align: center; }
  #main .muted-string {
    stroke: #1f180a; }
  #main .open-string {
    stroke: #1f180a;
    fill: #f2e6d9; }
  #main .fretboard-background {
    fill: #d5f1ec; }
  #main .fret-line {
    stroke: #1f180a; }
  #main .string-line {
    stroke: #1f180a; }
  #main .finger-mark {
    fill: #0f212e; }
  #main .diagram-bottom-label {
    font-weight: 500;
    font-size: 15;
    text-anchor: middle;
    stroke: #1b3450; }
